<div class="patient-card col-md-5 col-xs-12 col-lg-3">
  <a class="patient-href col-md-5 col-xs-12 col-lg-3"" href='<%=patient_path(patient) %>'>

  <div class="absolute">
    <img class="gender-img" src = '<%= image_path Patient.getGenderImg(patient.gender) %>'>
  </div>
  <div>
    <div class = "patient-name"><%= patient.firstname + " " + patient.lastname%></div>
    <div class = "patient-birth"><%= patient.birth %> </div>
    
  </div>
  </a>
</div>
